table {
    border-spacing: 3em 1em;
    margin-top: 3em;
}

th {
    text-align: left;
    padding-bottom: 1em;
}

td:nth-child(1) {
    font-style: italic;
}

td:nth-child(2) {
    font-weight: 350;
}

svg {
    color: rgba(0, 0, 0, 0.616);
}
